//- <!-- <!DOCTYPE html>
//- <html lang="en">
//-   <head>
//-     <meta charset="utf-8" />
//-     <meta
//-       name="viewport"
//-       content="width=device-width, initial-scale=1,
//-   maximum-scale=5"
//-     />


//-     <title>Devchallenges</title>
//-   </head>
//-   <body>
//-     <main>Still working</main>
//-   </body>
//-     <link rel="icon" href="devchallenges.png" />

//-     <link
//-       rel="shortcut icon"
//-       type="image/x-icon"
//-       href="https://devchallenges.io/"
//-     />

//- </html> -->
extends layout/layout.pug

block content 
  form.card#form(method="POST", action="/upload", enctype="multipart/form-data")
    .heading 
      h1.heading-primary Upload your image
      p.heading-subheading File should be Jpeg, Png or Webp

    .droppable#file-droppable
      img(src="images/image.svg", aria-hidden="true")
      p.droppable-label Drag & Drop your image here

    p.separator or 

    input#input-file-upload(type="file", name="image", accept="image/*")
    label(for="input-file-upload").file-upload Choose File

  script(src="script/app.js") 

