extends layout/layout.pug

block content 
  .backdrop
  form.card#form(method="POST", action="/upload", enctype="multipart/form-data")
    if error 
      p.error #{error}
    .heading 
      h1.heading-primary Upload your image
      p.heading-subheading File should be Jpeg, Png or Webp

    .droppable#file-droppable(onDrop="uploadFileOnDrop(event)", onClick="droppableClickHandler()")
      img(src="images/image.svg", aria-hidden="true")
      p.droppable-label Drag & Drop your image here

    p.separator or 

    input#input-file-upload(type="file", name="image", accept="image/*" onChange="onFileUpload()")
    label(for="input-file-upload").file-upload Choose File

  script(src="script/app.js") 

